body {
    margin: 20px;
   
    font-family: 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    border-left:6px solid #d8cefe;
    border-radius: 30px;
    box-shadow: 5px 2px 10px 5px greenyellow;
}
     
        
   